DB_USERNAME='your_db_username_here'
DB_PASSWORD='your_db_password_here'
DB_NAME='your_db_name_here'
DB_HOST=localhost/your_db_access_url
JWT_SECRET='your_jwt_secret_here'
EDAMAM_API_URL='https://api.edamam.com/search'