DB_URL=supabase_uri
JWT_SECRET='your_jwt_secret_here'
EDAMAM_API_URL='https://api.edamam.com/search'
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
BACKEND_URL=your_backend_url
FRONTEND_URL=your_frontend_url